html, body{
    background-color: #e3e3e3;
    box-sizing: border-box;
}

img{
    width: 64px;
    position: absolute;
    border: 2px solid red;
}

.panel{
    /*width: 50%;*/
    height: 86vh;
    padding: 10px;
    position: relative;
}

#left-panel{
    border-right: 2px dashed black;
}

#right-panel{
    border-left: 2px dashed black;
}

header{
    text-align: center;
    padding: 10px 5px;
    height: 8vh;
    background-color: #222;
    color: white;
    font-weight: bold;
}

footer{
    border: 2px solid #222;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    height: 6vh;
}