*{
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #fff;
    font-family: 'Alata', sans-serif;
}

/* begin header style */
.site-header{
    background-color: #282A35;
}

.site-header .row{
    /*border: 3px solid red;*/
    width: 70%;
    height: 90px;
    margin: auto;
}

#logo{
    margin: auto 0;
    color: #eee;
}

#navbar{
    /*border: 3px solid yellow;*/
    margin: auto 0;
}

.nav-link{
    text-decoration: none;
    color: #eee;
    display: inline-block;
    float: right;
    font-size: 13pt;
}

.nav-link:hover{
    color: #1abc9c;
    cursor: pointer;
}

/* end header style */


/* begin form style */
.content-card{
    background-color: rgba(236, 240, 241, 0.6);
    max-width: 700px;
    min-height: 500px;
    /*border: 2px solid red;*/
    margin: 60px auto;
    padding: 15px 10px;
    border-radius: 15px;
    overflow: hidden;
}

#title{
    margin-bottom: 8px;
}

#description{
    margin-top: 0;
    font-style: oblique;
}

#description a{
    color: #312A7C;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}

#login-form{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    /*border: 2px solid #312A7C;*/
    padding: 15px;
    text-align: left;
}

.form-field{
    display: block;
    margin: 5px 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

#login-form input{
    margin: 0;
    height: 34px;
    padding: 6px 12px;
    background-color: rgba(236, 240, 241, 0.8);
    font-size: 15px;
    border: 2px solid #ddd;
}

#submit{
    margin-top: 15px;
    height: 28px;
    font-size: 16px;
    border: 2px solid #ddd;
}

#submit:hover{
    cursor: pointer;
    background-color: #282A35;
    color: white;
    font-weight: 550;
    border: none;
}

#extra-info{
    max-width: 80%;
    margin: 25px auto;
    color: #222;
    font-size: 14px;
}
/* end form style */


/* begin table style */
#items-list{
    margin-top: 50px;
}

#side-bar{
    margin-top: 50px;
    background-color: rgba(236, 240, 241, 0.6);
    height: 260px;
    padding: 15px 10px;
    border-radius: 15px;
}

table{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 30px auto;
    border-radius: 15px;
    /*border: 2px solid red;*/
    padding: 15px;
    text-transform: capitalize;
}

td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

th{
    background-color: #2f2a65;
    color: #eee;
}
/* end table style */